.icons {
    position: absolute;
    top: 0px;
    left: 10px;
    display: flex;
    flex-direction: column;
  }
  .linea {
    height: 191px;
    width: 0px;
    border: 1px solid gray;
    display: flex;
  
  }
  .icons_linea{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    z-index: 2;
  }
  @media screen and (max-width:1250px) {
    .icons {
      display: none;
    }
  }

  @media screen and (max-width:600px){

    .icons {
      display: none;
    }
  }