header {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding:0px 250px ;
  position: sticky;
  top: 0;
  background-color: #282C33;
  align-items: center;
  z-index: 1;
}
  .logo_name {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;

  
  }
  .menu{
    display: flex;

  }
  .menu img{
    display: flex;
    visibility:hidden;
    
  }
  .header_name {
    font-family: Fira Code;
    font-size: 16px;
    font-weight: bold;
  }  
  .a_link {
    display: flex;
    gap: 20px;
    font-family: Fira Code;
    font-size: 16px;
  }
  .option_select{
    border: none;
    background-color: #282C33;
    font-family: Fira Code;
    font-weight: 600;
    color: gray;
  }
  @media screen and (max-width:1250px) {
    header {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      padding:0px 20px ;
      
    }



  }
  @media screen and (max-width:600px) {
    header {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      padding:0px 20px ;
      
    }
    .menu img{
      visibility: visible;
      cursor: pointer;
    }
    .logo_name {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
    
    }
    .option_select{
      display: none;
    }
    .a_link {
      display: none;
  }
}